<!DOCTYPE html>
<html lang="en">


    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>
    <!---- comienzo del main --> 
    <main>
        <!-- muestra productos -->
			<% for (product of productos) { %>
                <div>
                    <section>
                        <a href="/products/detail/<%= product.id %>">
                            <figure>
                                <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                            </figure>
                            <article>
                                <h2><%= product.name %></h2>
                                <p><%= product.price %></p>
                                <i class="fas fa-truck"></i>
                            </article>
                        </a>
                    </section>
                </div>
                <% } %>
            </div>
        </div>
        <!-- cierra productos -->
    </main>
   <!---- comienzo del footer -->  
    <%- include('../partials/footer')%>

</body>
</html>