<!DOCTYPE html>
<html lang="en">
    

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>


    <!---- comienzo del main --> 
    <main>
        <div class="container">
            <section>
                <div class="product-details">
                    <div class="imagen-detail">
                        <img src="/images/<%= producto.image%>" alt="foto-producto" width="400">
                    </div>
                    <div>
                        <h4 class="name"><%= producto.name%> - Marca <%= producto.brand%></h4>
                        <p class="description"><%= producto.description%></p>
                        <p class="codigo">Código: <%= producto.id%></p>
                        <p class="precio"> $ <%= producto.price%> - <%= producto.weight_volume%> <%= producto.unit%></p>
                        <p> En descuento: $ <%= producto.discount%> </p>
                        <br>
                        
                    </div>
                    <div class="cantidad-btns">
                        <input id="btn-agregar" type="number">
                    <div>
                        <button class="w-100 btn btn-lg btn-primary" type="button">Agregar</button>
                        <form action="/product/<%= producto.id%>/edit" method="GET">
                            <button class="w-100 btn btn-lg btn-primary" class="btn" type="submit">Editar</button> 
                        </form>
                        <form action="/product/<%= producto.id%>?_method=DELETE" method="POST">
                            <button class="w-100 btn btn-lg btn-primary" class="btn" type="submit">Borrar</button> 
                        </form>
                        
                    </div> 
                    </div> 

                </div>      
            </section>
        </div>
    </main>
   <!---- comienzo del footer -->  
   <%- include('../partials/footer')%>

</body>
</html>