<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>   

    <main>
       <div class="container">
            <div class="form-to-create">
               
               <% if (typeof errors != 'undefined') { %> 
                  <ul>
                     <% for (error of errors) { %>
                        <li><%= error.msg  %> </li> 
                     <% } %> 
                  </ul>
               <% } %> 

            <form id="productLoad" method="POST" action="/product/create"  enctype="multipart/form-data">
               <div>
                     <h2>Agregar un producto</h2>
                     <div>
                        <label for="productName">Nombre</label>  
                        <input type="text" name="productName" id="productName" placeholder="Ej: Aceite de Oliva"> 
                     </div>

                     <div>
                        <label for="brand">Marca</label>
                        <input type="text" name="brand" id="brand" placeholder="Ej: Arauco">
                     </div>

                     <div>
                        <label for="volumen">Unidad de volúmen/peso</label>
                        <input type="number" name="volumen" id="volumen" placeholder="500">
                        <select name="unidad" id="unidad">
                           <option value="kilo">kilo(s)</option>
                           <option value="gramos">gramos</option>
                           <option value="litro">litro(s)</option>
                           <option value="mililitro">mililitros</option>
                        </select>
                     </div>

                     <div>
                        <label for="price">Precio Unitario</label>   
                        <input type="number" name="price" id="price" placeholder="$"> 
                     </div>

                     <div>
                        <label for="discount">Precio en Promoción</label>   
                        <input type="number" name="discount" id="discount" placeholder="$"> 
                     </div>

                     <div>
                        <label for="category">Categoría</label>
                        <select name="category" id="category">
                           <% for (let category of categories) { %>
                              <option value='<%= category.id  %>'><%= category.name  %> </option>
                           <% } %> 
                        </select>
                     </div>


                     <div>
                        <label for="productDescription">Descripción</label>
                        <textarea name="description" id="productDescription"cols="40" rows="10" placeholder= "Incorporá aquí una descripción del producto"></textarea>
                     </div>

                     
                  <div>
                        <label for="productImage">Agregar imagen</label>
                        <input type="file" name="imageProduct">
                     </div> 
                  
                     <div>
                        <input type="submit" value="Agregar producto">
                     </div>
               </div>

            </form>
            </div>
         </div>
    </main>


    <%- include('../partials/footer')%>


</body>
</html>