<!DOCTYPE html>
<html lang="en">
    

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>

    <header>
        <div id="container">
            <img src="/images/logo.png" alt="" id='logo'>
            
            <div id='buscador'>
                <form action="">
                    <i class="fas fa-search" height='50px'></i>
                    <input type="search" placeholder="¿Qué estás buscando?">
                </form>
            </div>
            <div id=cuenta>
                <i class="fas fa-user"></i>
                <button id='botonCuenta'>Mi cuenta</button>
            </div>
            <div id="carrito">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <nav>
            <ul id='container-nav'>
                <li><a href="#">ALMACÉN</a></li>
                <li><a href="#">FRUTAS Y VERDURAS</a></li>
                <li><a href="#">PANADERÍA</a></li>
                <li><a href="#">CARNICERÍA</a></li>
            </ul>
        </nav>
    </header>
    <!---- comienzo del main --> 
    <main>
        <section id="seccion-principal">
            <article>
                <div class="imagen">
                    <img src="/images/<%=producto.image%>" alt="tomate" width="200px">
                </div>
                <div class="informacion">
                    <h4 class="description"><%=producto.description%></h4>
                    <p class="codigo"><%=producto.id%></p>
                    <br>
                    <p class="precio"><%=producto.price%></p>
                    <br>
                    <input id="btn-agregar" type="number">
                    <button type="button">Agregar</button>
                </div>
            </article> 
        </section>
        <section>
            <h4>Descripción y especificaciones</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Temporibus et rerum voluptatum asperiores fuga, impedit voluptatibus.</p>
        </section>
        <section>
            <div id='info'>
                <div>
                    <i class="far fa-question-circle"></i>
                    <p>Cómo comprar</p>
                </div>
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Entrega</p>
                </div>
                <div>
                    <i class="fas fa-dollar-sign"></i>
                    <p>Forma de Pago</p>
                </div>
            </div>
        </section>
    </main>
   <!---- comienzo del footer -->  
   <%- include('../partials/footer')%>

</body>
</html>