<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>


<body>
    <!---- comienzo del header -->  

    <%- include('../partials/header') %>   

    <main>
       <div class="container">
            <div class="form-to-create">
            
               <% if (typeof errors != 'undefined') { %> 
                  <ul>
                     <% for (error of errors) { %>
                        <li><%= error.msg  %> </li> 
                     <% } %> 
                  </ul>
               <% } %> 

            <form id="productLoad" method="POST" action="/product/<%= product.id %>?_method=PUT"  enctype="multipart/form-data">
               <div>
                     <h2>Editar un producto</h2>
                     <div>
                        <label for="productName">Nombre</label>  
                        <input type="text" name="productName" id="productName" value="<%= product.name %>"> 
                     </div>

                     <div>
                        <label for="brand">Marca</label>
                        <input type="text" name="brand" id="brand" value="<%= product.brand%>">
                     </div>

                     <div>
                        <label for="volumen">Volúmen/peso</label>
                        <input type="number" name="unidad" id="unidad" value="<%= product.weight_volume%>">
                        <select name="volumen" id="volumen" value="<%= product.unit%>">
                           <option value="kilo">kilo(s)</option>
                           <option value="gramos">gramos</option>
                           <option value="litro">litro(s)</option>
                           <option value="mililitro">mililitros</option>
                        </select>
                     </div>

                     <div>
                        <label for="price">Precio Unitario</label>   
                        <input type="number" name="price" id="price" value="<%= product.price%>"> 
                     </div>

                     <div>
                        <label for="discount">Precio en Promoción</label>   
                        <input type="number" name="discount" id="discount" value="<%= product.discount%>"> 
                     </div>

                     <div>
                        <label for="category">Categoría</label>
                        <select name="category" id="category">
                           <% for (category of categories) { %>
                              <% if (category.id == product.category_id) {%>
                                 <option value="<%= category.id  %>" selected><%= category.name %> </option>
                              <% } else {%> 
                                 <option value="<%= category.id  %>"><%= category.name %> </option>
                              <% } %> 
                           <% } %> 
                        </select>
                     </div>


                     <div>
                        <label for="productDescription">Descripción</label>

                        

                        <textarea name="description" id="productDescription"cols="40" rows="10" value=""><%= product.description%></textarea>

                     </div>

                     
                  <div>
                        <label for="productImage">Agregar Imagen</label>
                        <div style="width: 300px">
                           <img src="/images/<%= product.image%>" alt="" style="width: 100%">
                        </div>
                        
                        <input type="file" name="imageProduct">

                     </div> 
                  
                     <div>
                        <input type="submit" value="Agregar producto">
                     </div>
               </div>

            </form>
            </div>
         </div>
   
    </main>


    <%- include('../partials/footer')%>


</body>
</html>