<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>

    <%- include('partials/header') %>

    <main>
        <div class="container">
        
            <h1>FRESH MARKET</h1>

            <section>
                <img src="/images/frutas-verduras.jpg" alt="frutas y verduras" id='slide'>
            </section>

            <section>
                <h2>Productos Destacados</h2>

                    <div id='destacados'>

                        <% for (let i = 0; i<3 ; i++) { %> 

                            <article>
                                <img src="/images/<%=products[i].image%>" alt="" class="destacado">
                                <h3><%=products[i].name%> - <%=products[i].brand%></h3>
                                <p><%=products[i].description%></p>
                            </article>

                        <% } %> 

                    </div>

            </section>

            <section>

                <div id='info'>
                    <div>
                        <i class="far fa-question-circle"></i>
                        <p>Cómo comprar</p>
                    </div>

                    <div>
                        <i class="fas fa-truck"></i>
                        <p>Entrega</p>
                    </div>

                    <div>
                        <i class="fas fa-dollar-sign"></i>
                        <p>Forma de Pago</p>
                    </div>
                </div>


            </section>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>