<p><%=user.name%></p>
<p><%=user.email%></p>
<p><%=user.phone%></p>
<p><%=user.DNI%></p>
<p><%=user.gender%></p>

<a href="/users/update/<%=user.id%>"><button>Editar</button></a>

<form action="/users/delete/<%=user.id%>?_method=DELETE" method="POST">
    <button class="btn" type="submit">Borrar</button> 
</form>